body {
    text-align: center;
}

#box {
    border: 2px solid black;
    width: min(100vw, 85vh);
    margin: 0 auto;
}

#grid-size-button {
    margin: 12px;
}

#grid-container {
    display: flex;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.grid-cell {
    height: 0;
    background-color: #000;
    opacity: 0%;
}