body {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#box {
    border: 2px solid black;
    border-radius: 12px;
    width: min(100vw, 75vh);
    overflow: hidden;
}

#grid-size-button {
    margin: 12px;
}

#grid-container {
    display: flex;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.grid-cell {
    height: 0;
    background-color: #000;
    opacity: 0;
}